@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
/* loginPage css start */
body {
    /* padding: 0; */
    /* margin: 0; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* background-image: url("../assets/Login (2).png"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden; */
}

.login-div {
    /* display: flex; */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
/* background-color: violet; */
    /* background-image: url("../assets/Login (2).png"); */
    /* align-items: center; */
    /* padding-bottom: 40px; */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    /* background-position: center;   */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

.form-box {
   
    width: 50vw;
    height: 100vh;
    left: 639px;
    top: 418px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#logo {

    font-size: 50px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #7D8CC4;

}

#description {

    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #7f8c8d;
    font-family: 'Titillium Web';
    margin-top :20px;
}

#name-input {
    margin-top: 30px;

    box-sizing: border-box;
    height: 55px;
    width: 450px;
    font-size: 18px;
    padding-left: 30px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    outline: none;
}

.upper-input {
    margin-top: 30px;
    background: #ffffff;
    box-sizing: border-box;
    height: 55px;
    width: 450px;
    font-size: 18px;
    padding-left: 30px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    outline: none;

}

#password-input {
    width: 380px;
    background-color: white;
    box-sizing: border-box;
    height: 55px;
    padding: 18px;
    width: 450px;
    font-size: 18px;
    padding-left: 30px;
    border: none;
    outline: none;

}

.password-div {
    margin-top: 30px;
    height: 55px;
    width: 430px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    padding-right: 20px;

}

.button {
    left: 36.98%;
    right: 36.98%;
    top: 65.71%;
    bottom: 29.45%;
    padding: 20px;
    width: 450px;
    left: 639px;
    top: 734px;
    border-radius: 5px;
    background: #7D8CC4;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    border: none;
    box-shadow: 1px 1px gray;
}

.button:hover {
    cursor: pointer;
    background: #7D8CF1;
}

.anchor {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.25px;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.icon-span {
    font-size: 25px;
    color: #C5C5C5;

}

.icon-span:hover {
    cursor: pointer;
    color: #000000;
}
.popup{
    background-color: white;
    width: 300px;
    height: 400px;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    visibility: hidden;
    position: absolute;
    
    transition: transform 0.4s, top 0.4s;
}
.popup-btn{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 29px;
    background-color: #7D8CC4;
    color: white;
    font-size: 22px;

}
.popup-btn:hover{
    background-color: #7D8CF1;
    color: white;
    cursor: pointer;
}
.popup h1{
    color: coral;
}
.popup p{
    font-size: large;
    font-weight: 600;
    margin-top: 0px;
}

.regisName{
    padding: 25px;
}

.regisform{
    height: 100vh;
}

/* loginpage css ends */